#minical {
	background:url("../img/Blue/month.png") no-repeat;
}

#eventscal .topmonth {
	background:url("../img/Blue/menu_bg.jpg") repeat-x;
}

.lgcal, .lgcal a{
color:#0F4E83;
}


#minical td.event{
	background:url("../img/Blue/activeday.png") repeat-x;
}

#minical .previous, #minical .next{
    background: url("../img/Blue/previous.png") no-repeat scroll 0 0 transparent;
	text-indent:-5000px;
}

#minical .next{
    background: url("../img/Blue/next.png") no-repeat scroll 0 0 transparent;
}

.dtitle{
background:#165A92;
}


#bigcal td.event{background:#0F5189;}
#bigcal td.event a{color:#eee;}
#bigcal td.today {    background: none repeat scroll 0 0 #2176B8;}
#bigcal td.today .nday {    background: none repeat scroll 0 0 #2176B8;}
#bigcal .namevent a:hover{background:#fff;color:#165A92;}
#bigcal td.event:hover{background:#2176B8;}
#bigcal .next {    background: url("../img/Blue/puce_left.png") no-repeat scroll center bottom transparent;}
#bigcal .previous {    background: url("../img/Blue/puce_right.png") no-repeat scroll center bottom transparent;}