#minical {
	background:url("../img/Green/month.png") no-repeat;
}

#eventscal .topmonth {
	background:url("../img/Green/menu_bg.jpg") repeat-x;
}

.lgcal, .lgcal a{
color:#457B09;
}

#minical td.event{
	background:url("../img/Green/activeday.png") repeat-x;
}

#minical .previous, #minical .next{
    background: url("../img/Green/previous.png") no-repeat scroll 0 0 transparent;
	text-indent:-5000px;
}

#minical .next{
    background: url("../img/Green/next.png") no-repeat scroll 0 0 transparent;
}

.dtitle{
background:#376E03;
}


#bigcal td.event{background:#4D890F;}
#bigcal td.event a{color:#eee;}
#bigcal td.today {    background: none repeat scroll 0 0 #72B924;}
#bigcal td.today .nday {    background: none repeat scroll 0 0 #72B924;}
#bigcal .namevent a:hover{background:#fff;color:#4D890F;}
#bigcal td.event:hover{background:#72B924;}
#bigcal .next {    background: url("../img/Green/puce_left.png") no-repeat scroll center bottom transparent;}
#bigcal .previous {    background: url("../img/Green/puce_right.png") no-repeat scroll center bottom transparent;}