#minical {
	background:url("../img/Grey/month.png") no-repeat;
}

#eventscal .topmonth {
	background:url("../img/Grey/menu_bg.jpg") repeat-x;
}

.lgcal, .lgcal a{
color:#3F4B57;
}

#minical td.event{
	background:url("../img/Grey/activeday.png") repeat-x;
}

#minical .previous, #minical .next{
    background: url("../img/Grey/previous.png") no-repeat scroll 0 0 transparent;
	text-indent:-5000px;
}

#minical .next{
    background: url("../img/Grey/next.png") no-repeat scroll 0 0 transparent;
}

.dtitle{
background:#43505B;
}

#bigcal td.event{background:#414E5A;}
#bigcal td.event a{color:#eee;}
#bigcal td.today {    background: none repeat scroll 0 0 #5D6E7C;}
#bigcal td.today .nday {    background: none repeat scroll 0 0 #5D6E7C;}
#bigcal .namevent a:hover{background:#fff;color:#414E5A;}
#bigcal td.event:hover{background:#5D6E7C;}
#bigcal .next {    background: url("../img/Grey/puce_left.png") no-repeat scroll center bottom transparent;}
#bigcal .previous {    background: url("../img/Grey/puce_right.png") no-repeat scroll center bottom transparent;}