#minical {
	background:url("../img/Orange/month.png") no-repeat;
}

#eventscal .topmonth {
	background:url("../img/Orange/menu_bg.jpg") repeat-x;
}

.lgcal, .lgcal a{
color:#7D400A;
}

#minical td.event{
	background:url("../img/Orange/activeday.png") repeat-x;
}

#minical .previous, #minical .next{
    background: url("../img/Orange/previous.png") no-repeat scroll 0 0 transparent;
	text-indent:-5000px;
}

#minical .next{
    background: url("../img/Orange/next.png") no-repeat scroll 0 0 transparent;
}

.dtitle{
background:#954F17;
}

#bigcal td.event{background:#8E4B11;}
#bigcal td.event a{color:#eee;}
#bigcal td.today {    background: none repeat scroll 0 0 #B96322;}
#bigcal td.today .nday {    background: none repeat scroll 0 0 #B96322;}
#bigcal .namevent a:hover{background:#fff;color:#8E4B11;}
#bigcal td.event:hover{background:#B96322;}
#bigcal .next {    background: url("../img/Orange/puce_left.png") no-repeat scroll center bottom transparent;}
#bigcal .previous {    background: url("../img/Orange/puce_right.png") no-repeat scroll center bottom transparent;}