#minical {
	background:url("../img/Red/month.png") no-repeat;
}

#eventscal .topmonth {
	background:url("../img/Red/menu_bg.jpg") repeat-x;
}

.lgcal, .lgcal a{
color:#820E0F;
}

#minical td.event{
	background:url("../img/Red/activeday.png") repeat-x;
}

#minical .previous, #minical .next{
    background: url("../img/Red/previous.png") no-repeat scroll 0 0 transparent;
	text-indent:-5000px;
}

#minical .next{
    background: url("../img/Red/next.png") no-repeat scroll 0 0 transparent;
}

.dtitle{
background:#9B4231;
}


#bigcal td.event{background:#8C1010;}
#bigcal td.event a{color:#eee;}
#bigcal td.today {    background: none repeat scroll 0 0 #FF3334;}
#bigcal td.today .nday {    background: none repeat scroll 0 0 #FF3334;}
#bigcal .namevent a:hover{background:#fff;color:#D52029;}
#bigcal td.event:hover{background:#D52029;}
#bigcal .next {    background: url("../img/Red/puce_left.png") no-repeat scroll center bottom transparent;}
#bigcal .previous {    background: url("../img/Red/puce_right.png") no-repeat scroll center bottom transparent;}