/*****************************************/
/* 3c-events : PHP AJAX EVENTS CALENDAR
/* DOWNLOAD & SUPPORT : http://codecanyon.net/item/3cevents-php-ajax-events-calendar/242070?ref=devinfo007
/*****************************************/


#minical *, #bigcal *, #eventscal * {
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    position: static;
    float: none;
    line-height: 15px;
}
.cdate {
    display: block;
    margin: 0;
    padding-top: 10px !important;
}
#c_events {
    padding-left: 5px;
    padding-top: 3px;
}
#cal_search {
    background: url("img/bg-search.png") no-repeat scroll 0 0 transparent;
    height: 172px;
    margin: 0;
    padding: 10px 5px;
    position: relative;
    width: 245px;
}
.text_field {
    background: url("img/field_bg.png") no-repeat scroll 0 0 transparent !important;
    height: 24px;
    margin-left: 2px;
    width: 240px;
}
.text_field input {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    box-shadow: none; !important
    color: #888888 !important;
    font-size: 13px !important;
    padding: 5px !important;
    width: 233px !important;
}
#completeDiv {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #505050;
    padding: 5px;
}
.eventscontainer {
    margin: 0 auto;
    width: 500px;
}
.eventscontainer h1 {
    color: #AAAAAA;
    font: 2.5em normal Georgia,'Times New Roman',Times,serif;
    padding: 10px 0;
    text-align: center;
}
.eventscontainer h1 span {
    color: #666666;
}
.eventscontainer h1 small {
    color: #666666;
    display: block;
    font: 0.3em normal Verdana,Arial,Helvetica,sans-serif;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}
.eventscontainer .block img {
    max-width: 455px;
}
h2.acc_trigger {
    background: url("img/trigger.gif") no-repeat scroll 0 0 transparent;
    float: left;
    font-size: 1.2em;
    font-weight: normal;
    height: 46px;
    line-height: 46px;
    margin: 0 0 5px;
    padding: 0;
    width: 500px;
}
h2.acc_trigger a {
    color: #FFFFFF;
    display: block;
    font-family: Arial;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 0 0 45px;
    text-decoration: none;
}
h2.acc_trigger a:hover {
    color: #CCCCCC;
}
.eventscontainer h2.active {
    background-position: left bottom;
}
.acc_container, .acc_containers {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #D6D6D6;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    margin: 0 0 5px;
    overflow: hidden;
    padding: 0;
    width: 497px;
}
.acc_container .block, .acc_containers .block {
    padding: 10px 20px;
}
.acc_container .block p, .acc_containers .block p {
    margin: 5px 0;
    padding: 5px 0;
}
.acc_container h3, .acc_containers h3 {
    border-bottom: 1px dashed #CCCCCC;
    font: 2.5em normal Georgia,"Times New Roman",Times,serif;
    margin: 0 0 10px;
    padding: 0 0 5px;
}
.dtitle {
    background: none repeat scroll 0 0 #9B4231;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    display: block;
    font-family: Verdana;
    font-size: 10px;
    margin: -3px -3px 0;
    padding: 2px 5px;
}
.oev {
    color: #505050;
    display: block;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
}
#minical {
    background: url("img/bg-cal.png") no-repeat scroll 0 0 transparent;
    font-family: arial;
    font-size: 12px;
    line-height: 21px;
    margin: auto;
    width: 254px;
}
#minical a {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
#minical table {
    border-collapse: collapse;
    margin-bottom: 0;
    margin-left: 4px;
    width: 247px;
}
#minical #cont {
    background: url("img/bg-table.png") no-repeat scroll 0 0 transparent;
    width: 254px;
}
#minical th {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 1px;
    padding-right: 4px;
}
#minical th.month {
    font-size: 14px;
    padding: 3px;
}
#minical th.day {
    color: #707070;
    font-size: 12px;
    padding-top: 5px;
}
#minical div.bevent {
    background: url("img/bg-footer.png") no-repeat scroll 0 0 transparent;
    color: #707070;
    font-size: 12px;
    height: 34px;
    margin: -1px 0 0;
    padding: 0;
    width: 254px;
}
#minical td {
    font-size: 12px;
    font-weight: bold;
    height: 31px;
    padding-left: 0;
    text-align: center;
    vertical-align: middle;
}
#minical .evtip {
    display: block;
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
    line-height: 16px;
    margin: 0;
    padding: 1px 0 0 5px;
}
#minical td.nmsem {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("img/days-number-bg.png") repeat-x scroll 0 0 transparent;
    border-color: #D8D5D5 #D8D5D5 #D8D5D5 -moz-use-text-color;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    color: #DC6F15;
    padding-left: 0;
    padding-right: 0;
    width: 24px;
}
#minical .evt {
    color: #DC6F15;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    width: 24px;
}
#minical td.today {
    background: url("img/currentday.png") repeat-x scroll 0 0 transparent;
}
#minical td.inactif {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("img/inactifday.png") repeat-x scroll 0 0 transparent;
    border-color: #D8D5D5 #D8D5D5 #D8D5D5 -moz-use-text-color;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    color: #999999;
    font-style: italic;
    width: 31px;
}
#minical td.actif {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("img/days-number-bg.png") repeat-x scroll 0 0 transparent;
    border-color: #D8D5D5 #D8D5D5 #D8D5D5 -moz-use-text-color;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    color: #666666;
    width: 31px;
}
#minical td.actif:hover {
    color: #000000;
}
#minical td.event {
    background: url("img/eventday.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
}
#minical_events {
    color: #505050;
    float: left;
    font-size: 12px;
    width: 228px;
}
#minical_events .event {
    color: #505050;
    font-weight: bold;
    margin-top: 0;
    padding: 3px;
}
#minical .topmonth {
	color: #FFFFFF;
	font-family: monospace;
	font-size: 18px;
	font-weight: bold;
	height: 28px;
	letter-spacing: 1px;
	overflow: hidden;
	padding: 8px 3px;
	text-align: center;
}
#minical .previous, #minical .next {
    background: url("img/prec.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 35px;
    opacity: 1;
    padding: 0;
    text-decoration: none;
    width: 25px;
}
#minical .previous:hover, #minical .next:hover {
    opacity: 0.7;
}
#minical .next {
    background: url("img/suiv.png") no-repeat scroll 0 0 transparent;
    float: right;
}
#list-3c-events, #eventscal {
    margin: 0;
    width: 500px;
	margin:auto;
}
#eventscal .previous {
    background: url("img/puce_right.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 9px;
    position: relative;
    top: 5px;
    width: 5px;
}
#eventscal .next {
    background: url("img/puce_left.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 9px;
    position: relative;
    top: 5px;
    width: 5px;
}
#eventscal .cdate {
    color: #FFFFFF;
    margin-top: -7px;
    text-align: center;
}
#eventscal .cdate a {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
#eventscal .topmonth {
    background: url("img/menu_bg.gif") repeat-x scroll 0 0 #788091;
    border: 1px solid #505050;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 5px 10px;
}
#eventscal .actif {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    clear: both;
    color: #505050;
    display: block;
    margin-bottom: 4px;
    min-height: 62px;
    padding: 5px;
}
#eventscal #cont {
    margin: 0;
    padding: 0;
}
#eventscal .today, #eventscal .today a {
    color: #000000;
    text-decoration: none;
}
#eventscal div.mt {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CCCCCC;
    float: left;
    font-weight: bold;
    margin-right: 20px;
    padding: 5px;
    text-align: center;
    width: 50px;
}
#eventscal div.mt a {
    text-decoration: none;
}
#bigcal, #big-3c-events {
    font-family: arial;
    margin: auto;
    width: 700px;
}
#bigcal a {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
#bigcal table {
    border-collapse: collapse;
    width: 700px;
}
#bigcal #cont {
    clear: both;
    width: 700px;
}
#bigcal th {
    font-size: 14px;
    padding-bottom: 1px;
    padding-right: 4px;
}
#bigcal th.month {
    font-size: 14px;
    padding: 3px;
}
#bigcal th.day {
    color: #F5F5F5;
    font-size: 14px;
    padding: 10px 0;
    text-align: left;
}
#bigcal div.bevent {
    background: url("img/bg-footer.png") no-repeat scroll 0 0 transparent;
    color: #707070;
    font-size: 12px;
    height: 34px;
    margin: -1px 0 0;
    padding: 0;
    width: 254px;
}
#bigcal td {
    font-size: 12px;
    font-weight: bold;
    height: 31px;
    padding-left: 0;
    text-align: center;
}
#bigcal .evtip {
    display: block;
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 1px 0 0 5px;
}
#bigcal td.nmsem {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("img/days-number-bg.png") no-repeat scroll 0 0 transparent;
    border-color: #D8D5D5 #D8D5D5 #D8D5D5 -moz-use-text-color;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    color: #CCCCCC;
    padding-left: 0;
    padding-right: 0;
    width: 24px;
}
#bigcal .evt {
    color: #DC6F15;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    width: 24px;
}
#bigcal td.today {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #F5F5F5;
    padding: 5px;
    vertical-align: top;
}
#bigcal td.today .nday {
    background: none repeat scroll 0 0 #cccccc;
    color: #F5F5F5;
    padding: 5px;
    vertical-align: top;
}
#bigcal td.inactif {
    border: 1px solid #BCC9D2;
    color: #999999;
    font-style: italic;
    height: 100px;
    padding: 5px;
    vertical-align: top;
    width: 100px;
}
#bigcal .nday {
    color: #F5F5F5;
    font-size: 15px;
    text-align: right;
}
#bigcal .namevent {
    margin: 0 -5px;
}
#bigcal .namevent a {
    display: block;
    margin: 0;
    padding: 0;
}
#bigcal .namevent a:hover {
    background: none repeat scroll 0 0 #022F58;
    color: #FFFFFF;
}
#bigcal td.actif {
    border: 1px solid #BCC9D2;
    color: #666666;
    height: 100px;
    padding: 5px;
    vertical-align: top;
    width: 100px;
}
#bigcal td.actif:hover {
    color: #000000;
}
#bigcal td.event {
    background: none repeat scroll 0 0 #E7EEF4;
    border: 1px solid #BCC9D2;
    color: #016098;
    padding: 5px;
    vertical-align: top;
}
#bigcal td.event a {
    color: #016098;
}
#bigcal td.event:hover {
    background: none repeat scroll 0 0 #AEE1FF;
    color: #016098;
}
#bigcal_events {
    color: #505050;
    float: left;
    font-size: 12px;
    width: 228px;
}
#bigcal_events .event {
    color: #505050;
    font-weight: bold;
    margin-top: 0;
    padding: 3px;
}
#bigcal .topmonth {
    color: #000000;
    float: right;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 8px 3px;
    text-align: center;
    width: 170px;
}
#bigcal .topmonth a {
    color: #F5F5F5;
}
#bigcal .previous, #bigcal .next {
    background: url("img/puce_right.png") no-repeat scroll center bottom transparent;
    float: left;
    height: 20px;
    opacity: 1;
    padding: 0;
    text-decoration: none;
    width: 10px;
}
#bigcal .previous:hover, #bigcal .next:hover {
    opacity: 0.7;
}
#bigcal .next {
    background: url("img/puce_left.png") no-repeat scroll center bottom transparent;
    float: right;
}
.icon {
    margin-right: 5px;
    vertical-align: top;
}
.levent li {
    color: #505050;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.levent {
    list-style-image: url("img/puce.gif");
    margin: 0 0 0 85px;
    padding: 0;
}
.levent li a:hover {
    color: #A43319;
}
.ehelp {
    background: url("img/help.png") no-repeat scroll 0 0 transparent;
    font-family: arial;
    font-size: 13px;
    padding-left: 20px;
    text-decoration: none;
}
input.formfield {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    color: #505050;
    font-size: 11px;
    margin-right: 15px;
    padding: 6px 10px;
    width: 250px;
}
.eventscontainer a.button_link, .eventscontainer input[type="submit"], .eventscontainer input[type="reset"], .ui-dialog .ui-dialog-buttonpane button {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #62C462, #57A957) repeat-x scroll 0 0 #57A957;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    margin: 0 10px 5px 0;
    outline: medium none;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}
.eventscontainer a.button_link:hover, .eventscontainer input[type="submit"]:hover, .eventscontainer input[type="reset"]:hover, .ui-dialog-buttonpane button:hover {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #FFDF9E, #F5B026 2%, #F48423) repeat scroll 0 0 transparent;
    border-color: #E6791C #E6791C #D86F15;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-shadow: 0 1px 1px #6F3A02;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.left {
    text-align: inherit;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.full {
    text-align: justify;
}
img.left, table.left {
    float: left;
    text-align: inherit;
}
img.center, table.center {
    margin-left: auto;
    margin-right: auto;
    text-align: inherit;
}
img.center {
    display: block;
}
img.right, table.right {
    float: right;
    text-align: inherit;
}