/*****************************************/
/* 3c-events : PHP AJAX EVENTS CALENDAR
/* DOWNLOAD & SUPPORT : http://codecanyon.net/item/3cevents-php-ajax-events-calendar/242070?ref=devinfo007
/*****************************************/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,address,code,del,dfn,em,img,q,
dl,dt,dd,ol,ul,li,
table,caption,tbody,tfoot,thead,tr,th,td,br,fieldset,textarea{font-family:"Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Helvetica, Arial, sans-serif;margin:0;padding:0;border:0;vertical-align:baseline;}

h1,h2,h3,h4,h5,h6,hr,p,ul,ol,dl,pre,address,table,form{margin:0 0 20px}

p,h1, h2, h3, h4, h5, h6, ul.check_list, ul.arrowlist{padding-left:2px;}

strong, b{font-weight:bold;}

em, dfn, i{font-style:italic;}

a, input { outline:none; }

body {
	color:#555;
	font-size:12px;
	background:#f0f0f0;
}

hr {
	clear:both;
	float:left;
	width:100%;
	margin-top:15px;
	margin-bottom:20px;
	border:0;
	height:0px;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #f4f4f4;
}

fieldset hr {
	border-bottom:1px solid #fff;
}

h1 {
	color::#333;
	font-size:28px;
	clear:both;
}

h2 {
	color:#333;
	font-size:18px;
}

h5 {
	text-transform:uppercase;
	font-size:16px;
	margin-bottom:15px;
}

h1 span {
	color:#1a1a1a;
}

#container {
	min-width:700px;
	max-width:1600px;
}

#bgwrap {
	float:left;
	position:relative;
	width:100%;
	background:url('./img/stripe.png') fixed 0 0 repeat-y;
}

#primary_left {
	clear:both;
	float:left;
	width:230px;
	position:relative;
}

#primary_left #logo {
	clear:both;
	float:left;
	width:230px;
	height:155px;
	overflow:hidden;
	background:url('./img/logo_bg.png') 0 0 no-repeat;
	padding-top:15px;
}

#menu ul {
	list-style-type:none;
}

#menu ul li {
	clear:both;
	float:left;
	background:url('./img/menu_spa.png') 0 100% no-repeat;
	width:220px;
	padding:3px 0;
}

#menu ul li.nobg {
	background:none;
}

#menu ul li a {
	clear:both;
	float:left;
	text-decoration:none;
	color:#bbb;
	padding-left:16px;
	height:40px;
}

#menu ul li a img {
	clear:both;
	float:left;
	width:32px;
	height:32px;
	margin:4px;
}

#menu ul li a span {
	text-transform:uppercase;
	font-size:13x;
	text-shadow:1px 1px #000;
	float:left;
	width:137px;
	padding:10px 10px 7px 10px;
	font-family:Arial, Helvetica, sans-serif;
}

#menu ul li.current a span {
	background:url('./img/menu_arr.png')  100% 50% no-repeat;
	color:#fff;
	margin-left:5px;
	text-shadow:#0A5482 1px 1px 0px;
}

#menu ul li.current a span {
	margin-left:5px!important;
}

#menu ul li a:hover span {
	color:#fff;
}

#menu ul li.current {
	background:url('./img/menu_cur.png') top right no-repeat;
}

#menu ul ul {
	clear:both;
	float:left;
	width:175px;
	display:inline;
	padding:10px 0 10px 30px;
	margin-bottom:3px;
}


#menu ul ul li, #menu ul ul li a {
	background:none;
	height:auto!important;
	font-size:11px;
}

#menu ul ul li a {
	clear:both;
	float:left;
	width:140px;
	padding:3px;
	text-shadow:1px 1px #000!important;
}

#menu ul ul li a:hover {
	color:#fff;
}

#primary_right {
	float:right;
	width:100%;
	margin-left:-255px;
	min-height:1000px;
	overflow:hidden;
}

#primary_right .inner {
	clear:both;
	float:left;
	padding:30px;
	margin-left:210px;
	position:relative;
}

.autoWidth{
	width: auto;	
}

.autoWidth p {
	width: auto;
	float: left;	
}

.error {
	border-top: 1px solid #f7d0d0;
	border-bottom: 1px solid #c87676;

	background: #f3c7c7;
	background: -moz-linear-gradient(top,#f3c7c7,#eea2a2);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3c7c7), to(#eea2a2));
}

.error:before {
	content: url(error.png);
	float: left;
	margin: 7px 15px 0px 15px;
}

.error strong {
	color: #b31616;
	margin-right: 15px;
}

.message {
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #d7d7d7;

	background: #f0f0f0;
	background: -moz-linear-gradient(top,#f0f0f0,#e1e1e1);
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e1e1e1));
}

.message:before {
	content: url(message0.png);
	float: left;
	margin: 12px 15px 0px 15px;
}

.message strong {
	color: #323232;
	margin-right: 15px;
}

.selected {
	border:2px solid #e6791c!important;
	box-shadow:none!important;
	-moz-box-shadow:none!important;
	-webkit-box-shadow:none!important;
}

.clearboth {
	clear:both;
}

table.normal {
	border:1px solid #aaa;
	border-radius: 4px 4px 0;
	-moz-border-radius: 4px 4px 0;
	-webkit-border-radius:  4px 4px 0;	
}

table.fullwidth {
	width:100%;
}

table.normal td {
	padding:5px 15px;
}

table.normal thead th, table.normal thead th a {
	background: #505050;
	text-transform:uppercase;
	font-size:11px;
	font-weight:normal;
	padding:5px 2px;
	text-align:center;
	color:#eee;
	text-decoration:none;
}


table.normal tbody {
	border-top:1px solid #fff;
	background:#f4f4f4;
}

table.normal tbody tr.odd td {
	background:#fafafa;
}

table.normal tbody td {
	font-size:11px;
	vertical-align:middle;
}

fieldset {
	border:1px solid #ccc;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	

	padding:20px 20px 0 20px;
	
	background:#fbfbfb;
	background: -moz-linear-gradient(top,#fbfbfb,#f5f5f5);
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f5f5f5));
	
	margin-bottom:15px;
}

table tfoot {
	background:#fafafa;
}

table tfoot td {
	border-top:1px solid #fff;
	background: -moz-linear-gradient(top,#fbfbfb,#f5f5f5);
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f5f5f5));
}

fieldset legend {
	border:1px solid #fff;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	
	-moz-box-shadow: 1px 1px 0px #999;
	-webkit-box-shadow: 1px 1px 0px #999;
	box-shadow: 1px 1px 0px #999;
	
	background:#fbfbfb;
	background: -moz-linear-gradient(top,#fbfbfb,#f5f5f5);
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f5f5f5));
	
	padding:5px 20px;
	text-transform:uppercase;
	font-size:11px;
}

input{
	padding:6px 10px;
	background:#fff;
	color:#505050;
	
	border-width:1px;
	border-style:solid;
	border-color:#ccc;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	
	font-size:11px;
	margin-right:15px;
}

input[type="text"]{
	width:250px;
}

input.sf {
	width:180px;
}

input.mf {
	width:270px;
}

input.lf {
	width:360px;
}

input[type="radio"], input[type="checkbox"] {
	margin-right:5px;
	font-size:10px;
}

.validate_success { color:#739F1D; }
.validate_error { color:red; }

input[type="checkbox"] + label {
	display: block;
	height: 16px;
}

p label {
	display:inline-block;
	width:150px;
	font-size:11px;
	vertical-align:middle;
}

label.fix {
	position:relative;
	top:-7px;
}

.field_desc {
	color:#bbb;
	font-style:italic;
}

a.table_icon {
	float:left;
	margin-right:5px;
	padding:5px 5px 0px 5px;
	
	border:1px solid #fff;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	
	-moz-box-shadow: 1px 1px 0px #999;
	-webkit-box-shadow: 1px 1px 0px #999;
	box-shadow: 1px 1px 0px #999;
	
	background: -moz-linear-gradient(top,#fbfbfb,#f5f5f5);
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f5f5f5));
}

a.button_link, input[type="submit"], input[type="reset"], .ui-dialog .ui-dialog-buttonpane button {
	color:#fff;
	text-decoration:none;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-shadow:0 1px 1px #0c507b;
	letter-spacing:0px;
	text-transform:uppercase;
	
	padding:5px 10px;
	margin:0 10px 5px 0;
	
	background: #3aa3e6;
	background: -moz-linear-gradient(top, #87c6ee, #3aa3e6 2%, #028fe8);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #87c6ee), color-stop(.01, #3aa3e6), to(#028fe8)); 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#87c6ee', endColorstr='#028fe8');

	border:1px solid #0082d5;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	outline:none;
}


a.button_link:hover, input[type="submit"]:hover, input[type="reset"]:hover, .ui-dialog-buttonpane button:hover {
	text-shadow: 0 1px 1px #6f3a02;

	border:1px solid #e6791c;
	border-bottom:1px solid #d86f15;

	background: #f48423;
	background: -moz-linear-gradient(top, #ffdf9e, #f5b026 2%, #f48423);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffd683), color-stop(.01, #f5b026), to(#f48423)); 
	
	cursor:pointer;

}

.column {display:block; min-height:50px;}
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:67.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; clear:right; }

table {
	border-spacing:0;
}

.pagination {
	margin: 0px;
	list-style: none;
	padding: 0px;
	float:right;
}

.pagination li {
	float:left;
}

.pagination li a {
	border: solid 1px black;
	color: black;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 3px;
	margin-right: 3px;
	text-decoration: none;
}

.pagination li a.active {
	border-color: blue;
}

.status0, .status0  a {
  color: #8b8b8b;
   font-weight:bold;
  background: url('./img/off.png') no-repeat right 0;
  text-align: center;
  text-decoration:none;
  width:40px; height:17px }
  
.status0 span{
display:block;
position:relative;
top:0px;}
  
.status1, .status1 a {
color: #fff;
font-weight:bold;
background: url('./img/on.png') no-repeat right 0;
text-align: center;
text-decoration:none;
width:40px; height:17px } 
  
.status1 span{
display:block;
position:relative;
top:0px;}

.notification 			{ border: 1px solid #666666; border-radius: 3px; display: block; margin-bottom: 15px; overflow: hidden; padding: 9px 0px 4px 0px; position: relative; z-index: 1; zoom: 1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.notification a.close		{ display: block; width: 11px; height: 11px;  background: url('./img/ico_close_off.png') top left no-repeat; font-size: 0%; text-indent: -9999px; position: absolute; top: 3px; right: 3px; }
.notification a.close:hover	{ background: url('./img/ico_close_ovr.png') top left no-repeat; }
.notification p			{ font-weight:bold; text-transform: capitalize; line-height: 11px; padding: 7px 25px 5px 42px !important; margin-left:40px}

.note-success			{ background: url('./img/confirm_error.png') 17px 5px no-repeat #DFFAD3; border-color: #72CB67;  }
.note-error			{ background: url('./img/confirm_error.png') 17px -45px no-repeat #FBE3E4; border-color: #E0011B;  }

.labeladm{color:#000; font-family:Arial, Helvetica, sans-serif; font-size:12px; float:left; width:150px}

.copy{position:absolute; bottom:-200px; left:10px; text-align:center; font-weight:bold; width:200px; font-family:arial}

.labelset{width:200px; float:left; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
a.tooltip{cursor:default;}
a.tooltip span {display:none; cursor:default;padding:1px; margin-left:10px; width:273px;}
a.tooltip:hover span{display:inline; cursor:default;position:absolute; border:1px solid #cccccc; background:#ffffff; color:#dd;}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }



/* Basic formats */

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

/* Global align classes */

.left {
	text-align: inherit;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.full {
	text-align: justify
}

/* Image and table specific aligns */

img.left, table.left {
	float: left;
	text-align: inherit;
}

img.center, table.center {
	margin-left: auto;
	margin-right: auto;
	text-align: inherit;
}

img.center {
	display: block;
}

img.right, table.right {
	float: right;
	text-align: inherit;
}

.forumrss {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
}

.forumrss li {
  list-style: none outside none;
  margin-left: 10px;
  width: 500px !important;
}
